sudo apt-get install libjpeg-dev -y
sudo apt-get install zlib1g-dev -y
sudo apt-get install libfreetype6-dev -y
sudo apt-get install liblcms1-dev -y
sudo apt-get install libopenjp2-7 -y
sudo apt-get install libtiff5 -y
sudo pip3 install pillow


requests
proxybroker
google
termcolor
txtorcon
colorama
pytest 
hypothesis
bs4
StringGenerator
pysocks
